body {
    margin: 0;
    background: #ffffff;
}

#map {
    border: 1px solid #444;
    background: #ffffff;
    height:99.28vh;
}

circle.intersection-node {
    stroke: #000000;
    fill: #FFFFFF;
}

circle.traffic-light-node {
    stroke: #000000;
    fill: rgba(0, 0, 0, 0);
}

circle.spawner-node {
    fill: #FF0000;
}

circle.sink-node {
    fill: #0000FF;
}

circle.road-node {
    fill: #000000;
}

line {
    stroke: #000000;
    stroke-width: 2;
}

#pauseBtn {
    font-size: 21px;
}

#simRateDecBtn {
    font-size: 21px;
}

#simRateIncBtn {
    font-size: 21px;
}

#simRateIndicator {
    font-size: 21px;
}

#timeIndicator {
    font-size: 21px;
}

#bottomControlsPanel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 98.2%;
    background-color: white;
    border: 1px solid #444;
}

#topLeftPanel {
    background-color: white;
    border: 1px solid #444;
}

#disconnectBanner {
    position: fixed;
    top: 12px;
    right: 12px;

    padding: 6px 12px;
    border-radius: 6px;

    background-color: #c62828;
    color: white;

    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.5px;

    display: none; /* hidden by default */

    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

#loadingBanner {
    position: fixed;
    top: 12px;
    right: 12px;

    padding: 6px 12px;
    border-radius: 6px;

    background-color: #ffdd00;
    color: white;

    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.5px;

    display: none; /* hidden by default */

    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.invisible-vehicle {
    display: none;
}