body {
    margin: 0;
    background: #ffffff;
    margin: auto;
}

.map {
    border: 1px solid #444;
    background: #ffffff;
    min-height:60vh;
    height:60vh;
    margin: auto;
}

circle {
    r: 3;
}

line {
    stroke: #000000;
    stroke-width: 2;
}

.output-log {
    overflow-y: scroll;
    height: 39vh;
}