<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Traffic Simulator</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <style>
    body {
      margin: 0;
      background: #ffffff;
      margin: auto;
    }

    .map {
      border: 1px solid #444;
      background: #ffffff;
      min-height:60vh;
      height:60vh;
      margin: auto;
    }

    circle {
      r: 3;
    }

    line {
        stroke: #000000;
        stroke-width: 2;
    }

    .output-log {
        overflow-y: scroll;
        height: 39vh;
    }
  </style>
</head>
<body>

<div class="map" width="99.7%" height="100%">
    <svg width="100%" height="100%">
    <g></g>
    </svg>
</div>
<script src="/static/renderer.js"></script>

<div class="output-log">
<pre id="output"></pre>
</div>
<script>
    var output = document.getElementById("output");
    var socket = new WebSocket("ws://localhost:8080/echo");
    var renderer = new Renderer();

    socket.onopen = function () {
        output.innerHTML += "Status: Connected\n";
    };

    socket.onclose = function () {
        output.innerHTML += "Status: Disconnected\n";
    }

    socket.onmessage = function (e) {
        const msg = JSON.parse(e.data);
        const msg_data = msg.Data;
        switch (msg.Type) {
            case "vehicle_message":
                renderer.updateVehicles(msg_data);
                renderer.renderUpdate();

                for (let i = 0; i < msg_data.length; i++) {
                    output.innerHTML += "Vehicle ID: " + msg_data[i].Vehicle_ID + ", Time: " + msg_data[i].Time + ", X: " + msg_data[i].X + ", Y: " + msg_data[i].Y + ", Status: " + msg_data[i].Status + "\n";
                }
                output.innerHTML += "\n";
                break;
            case "map_setup_message":
                renderer.updateNodes(msg_data.Nodes);
                renderer.updateLanes(msg_data.Lanes);
                renderer.renderStaticMap();
                break;
            default:
                output.innerHTML += "Error: Unknown message received!\n";
        }
        socket.send(
            JSON.stringify(
                {Type: "ACK", Data: null}
            )
        )
    };
</script>

</body>
</html>