<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Traffic Simulator</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <link rel="stylesheet" href="/static/index.css">
</head>
<body>
<div id="map" width="99.7%" height="100%">
    <svg width="100%" height="100%">
    <g></g>
    </svg>
</div>
<script src="/static/renderer.js"></script>
<script>
    var socket = new WebSocket("ws://localhost:8080/echo");
    var renderer = new Renderer(socket);

    socket.onopen = function () {
        console.log("Status: Connected");
    };

    socket.onclose = function () {
        console.log("Status: Disconnected");
    }

    socket.onmessage = function (e) {
        const msg = JSON.parse(e.data);
        const msg_data = msg.Data;
        switch (msg.Type) {
            case "vehicle_message":
                renderer.updateVehicles(msg_data);
                renderer.updateCurrTime(msg_data[0].Time);
                renderer.renderControls();
                renderer.renderVehicleUpdate();

                for (let i = 0; i < msg_data.length; i++) {
                    console.log("Vehicle ID: " + msg_data[i].Vehicle_ID + ", Time: " + msg_data[i].Time + ", X: " + msg_data[i].X + ", Y: " + msg_data[i].Y + ", Status: " + msg_data[i].Status + "\n");
                }
                console.log("\n");
                break;
            case "map_setup_message":
                renderer.updateNodes(msg_data.Nodes);
                renderer.updateLanes(msg_data.Lanes);
                renderer.updateSimRate(msg_data.ConfigParameters.SIM_RATE);
                renderer.renderStaticMap();
                break;
            default:
                output.innerHTML += "Error: Unknown message received!\n";
        }

        socket.send(
            JSON.stringify(
                {Type: "ACK", Data: null}
            )
        )
    };
</script>

</body>
</html>